@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Sumon Store 2.0</h1>
    <p>Visit me <a href="https://www.facebook.com/ariful.eee">Share your ideas about development of your career</a>.</p>
</div>
